#wrapper.listing {
    position: relative;
    display: flex;
	justify-content: center;
}

#mainContent.listing {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1000px;
}

.movieEntry {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #2E2E2E;
}

.movieEntryInner {
    margin: 10px;
    display: flex;
    flex-direction: row;
    color: white;
}

.movieEntryImage {
    display: block;
    height: 315px;
}

.movieEntryContentInner {
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
}

.movieEntryTitle {
    font-family: "Roboto Slab";
    line-height: 22px;
    font-size: 32px;
    margin-bottom: 10px;
}

.movieEntryUnderTitle, .movieEntryPlot {
    margin-bottom: 20px;
}

.movieEntryTime {
    display: inline-block;
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #FF9500;
}

@media all and (max-width: 1000px) {
    #mainContent.listing {
        width: 100%;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .movieEntry {
        margin-bottom: 2vw;
    }
    .movieEntryImage {
        height: 31.5vw;
    }
    .movieEntryInner {
        font-size: 1.5vw;
        margin: 1vw;
    }
    .movieEntryContentInner {
        margin-top: 0.5vw;
    }
    .movieEntryTitle {
        font-size: 3.2vw;
        margin-bottom: 1vw;
    }
    .movieEntryUnderTitle, .movieEntryPlot {
        margin-bottom: 2vw;
    }
    .movieEntryTime {
        padding: 0.7vw;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        margin-right: 2vw;
        margin-bottom: 2vw;
    }
}
