@model object

<div id="wrapper" class="listing">
        
    <div id="mainContent" class="listing">
            
        <div class="movieEntry">
            <div class="movieEntryInner">
                <img class="movieEntryImage" src="~/Areas/Movies/Content/rogueone.jpg">
                <div class="movieEntryContent">
                    <div class="movieEntryContentInner">
                        <div class="movieEntryTitle">Rogue One</div>
                        <div class="movieEntryUnderTitle">PG-13 | 2h 13min | Action, Adventure, Sci-Fi</div>
                        <div class="movieEntryPlot">All looks lost for the Rebellion against the Empire as they learn of the existence of a new super weapon, the Death Star. Once a possible weakness in its construction is uncovered, the Rebel Alliance must set out on a desperate mission to steal the plans for the Death Star. The future of the entire galaxy now rests upon its success.</div>
                        <div class="movieEntryTimes">
                            <div class="movieEntryTime">1:00pm</div>
                            <div class="movieEntryTime">3:30pm</div>
                            <div class="movieEntryTime">5:00pm</div>
                            <div class="movieEntryTime">5:30pm</div>
                            <div class="movieEntryTime">7:00pm</div>
                            <div class="movieEntryTime">8:30pm</div>
                            <div class="movieEntryTime">10:00pm</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
        
</div>
