@{
    PageData["Title"] = "503 - Service Unavailable";
    Response.StatusCode = 503;
    Response.DisableUserCache();
}

<h3><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> The server is currently unavailable.</h3>
