@{
    PageData["Title"] = "429 - Too Many Requests";
    Response.StatusCode = 429;
    Response.DisableUserCache();
}

<h3><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Whoa! Too fast.</h3>
