@{
    PageData["Title"] = "414 - URI Too Long";
    Response.StatusCode = 414;
    Response.DisableUserCache();
}

<h3><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Request URI is too long.</h3>