.btn-google {
    color: #ffffff;
    background-color: #EA4335;
}

html {
    width: 100%;
	height: 100%;
	margin: 0 0 0 0;
	overflow: hidden;
}

body {
    
    font-family: "Open Sans", Arial;
    width: 100%;
    height: 100%;
	margin: 0 auto;
	color: white;
    background-color: #1F1F1F;
	overflow: hidden;
	
}

#wrapper {
    
    width: 100%;
    height: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
    
}

#loginBox {
    
    background-color: #333333;
    
}

#loginBoxHeader {
    
    color: #FF9500;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    background-color: #3B3B3B;
    text-align: left;
    
}

#loginBoxContent {
    
    margin: 35px;
    margin-left: 55px;
    margin-right: 55px;
    text-align: right;
    
}



