#wrapper.loginRegister {
    
    width: 100%;
    height: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
    
}

.middleBox {
    
    background-color: #333333;
    overflow: hidden;
    -webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
    
}

.middleBoxHeader {
    
    color: #FF9500;
    background-color: #3B3B3B;
    text-align: left;
    display: flex;
    flex-direction: row;
    
}

.middleBoxHeaderElement {
    
    width: 50%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.middleBoxHeaderElementActive {
    
    background-color: #454545;
    border-bottom: 1px solid #FF9500;
    
}

.middleBoxContent {
    
    margin: 40px;
    margin-left: 55px;
    margin-right: 55px;
    text-align: right;
    
}

#registerBoxContent {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.loginBoxTextField {
    
    position: relative;
    
}

.loginBoxInput {
    
    font-family: "Open Sans", Arial;
    display: block;
	outline: none;
    font-size: 18px;
	color: white;
	border: none;
    padding: 10px;
    background: transparent;
    border-bottom: 2px solid #404040;
    
    -webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;
    
}

.loginBoxInputLabel {
    
    font-size: 18px;
    color: #808080;
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    
    -webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;
    
}

.loginBoxInput:focus, .loginBoxInput:valid {
    
    border-color: #FF9500;
    
}

.loginBoxInput:focus ~ .loginBoxInputLabel, .loginBoxInput:valid ~ .loginBoxInputLabel {
    
    color: #FF9500;
    font-size: 13px;
    top: -15px;
    
}

.loginRegisterButton {
    
    font-family: "Roboto Slab";
    color: white;
    display: inline-block;
    font-size: 16px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid #FF9500;
    background: transparent;
    
    margin-top: 40px;
    
    -webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
    
}

.loginRegisterButton:hover {
    
    padding-left: 20px;
    padding-right: 20px;
    background-color: #3B3B3B;
    
}

a {

    text-decoration: inherit;
    color: inherit;

}