<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" xdt:Transform="Remove" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" xdt:Transform="Replace" />
  </system.web>
  <dotless minifyCss="true" xdt:Transform="SetAttributes"/>
</configuration>