<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient"
         connectionString="Data Source=tcp:theaterdb.ceegsuvmtbvg.us-west-2.rds.amazonaws.com;Initial Catalog=TheaterBooking;
         User ID=admin;Password=DMGicNzs0ydqMX04MlEOrrMCKEe6r5l40IWPx6tA;Encrypt=True;Connection Timeout=30;App=TheaterBooking.Web"
         xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" xdt:Transform="Replace" />
  </system.web>
  <dotless minifyCss="true" xdt:Transform="SetAttributes"/>
</configuration>