<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="LocalBaseUrl" value="https://botic.kreatious.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AzureClientSecret" value="botic-encrypted-clientsecret-fromazureportal" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AzureClientSecretPublicKey" value="RUNLNUIAAAAAMB8cCXsQg0rfJ5u+0m6eB1CxeqQTFkOceWbxfdpfdV5gilO8+rEUljYfmQ
         8osrHWhf3yGWdcWycy+myyHzxsANcAQz6UwidFAdEN4ta0KukPwtfu+sCCtuaCRgbR1IbU5Dg2bRdaVdRlrzqo5n7K8Hd+1APDz7Y8ZUuQyvlh
         Cf0WErA=" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AzureClientSecretSignature" value="fTrdDShyvgtV4OK2gF/BWImikdMLf/u3sIl8CQlYfQS62bxfAnsnIMZ7xAuh5w0cNvRWhG
         ffHt7AsQ6q7g4zrfXFTOvgd8HXWQttD49EBdUt9UK8Qt5gIC30fuy/SQtjPxsB0iP7C1yukYo2uhyCTb6Gl5I3idk7H+QeCk7RvugdhZCLJecO
         nRX0k3ZOGLevOku4F/nMh8ZW1iiPXtXIfVCMBAQjuI71pbXBrmNEY6Li1Mm6DRfJiL6CqauQ0m0JiCkJAtYGiRGuNTweZ8tyuBJOuhHt8Un/ly
         MZT997UJsBYK8rtSEiu+5yoVDInXlSwxAkUysdG38bgQZxvkuMvA==" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AzureClientSecretDebug" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WEBSITE_LOAD_CERTIFICATES" value="8FAF505845C02D75ED55BF3058B092121241E817" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EncryptedMasterKeyThumbprint" value="8FAF505845C02D75ED55BF3058B092121241E817" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EncryptedMasterKey" value="plH47Y5B3grXPPULfR2OVRyXWYW1zxK3hyS5KfSulE+B7G7vaYCS9PU99tHjIAGFDcNMlA+FdOIs97OYPxVIeGE9+p71psh8H4iSEPzNblHgL0dzqbbvCcgtEzLJccIN4fkHjESIMBN/kw2+l84FERIMCQZf1HR2i7kIGyPryoNWhWz1GyxFgEoNDKRwHHQQetoI+lfgyEibKXWRCHS1VC4bOBo+xT2cq54bWj/z4lG4j+KkHHOojGlYfW4xvlxUm7SZZwuu1JS4nwiL7+H/xLn74t+KC5eOnwgy8c+Lub0="  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="KeyVault" value="https://botic-key-vault.vault.azure.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient"
         connectionString="Data Source=tcp:botic-kreatious.database.windows.net;Initial Catalog=TheaterBooking;
         User ID=botic-admin;Password=DMGicNzs0ydqMX04MlEOrrMCKEe6r5l40IWPx6tA;Encrypt=True;Connection Timeout=30;App=TheaterBooking.Web"
         xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" xdt:Transform="Replace" />
  </system.web>
  <dotless minifyCss="true" xdt:Transform="SetAttributes"/>
</configuration>